# Priprava podatkov

In [1]:
import numpy as np
import pandas as pd

Preberemo datoteko

In [6]:
df = pd.read_csv("data_dijaki.csv")

In [12]:
df.head()

,uspesnost,uspesnost_ocena,uspesnost_popestritev,kviz_1,ocena,razred,spol,profesor,interakcija_kvantitativno,interakcija_kvalitativno,pripomogel_vec,prisotnost_ucitelja
0,3,2,3,100000000,5,2. b,≈Ωenska,dr. Marina Rugelj,3,1,3,2
1,1,1,1,üÖ±Ô∏è,5,2. a,Mo≈°ki,dr. Marina Rugelj,1,3,2,2
2,1,5,1,69,5,2. b,≈Ωenska,dr. Marina Rugelj,3,3,3,3

In [9]:
df.drop("ƒåasovni ≈æig", axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

In [11]:
df.columns = ["uspesnost","uspesnost_ocena","uspesnost_popestritev","kviz_1","ocena","razred","spol","profesor","interakcija_kvantitativno","interakcija_kvalitativno","pripomogel_vec","prisotnost_ucitelja"]

Kategoricne damo v 0 1

In [14]:
df_one = pd.get_dummies(df["spol"])
df_two = pd.concat((df_one, df), axis=1)
df_two = df_two.drop(["spol"], axis=1)
df_two = df_two.drop(["Mo≈°ki"], axis=1)
df = df_two.rename(columns={"≈Ωenska": "spol"})

In [16]:
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df['razred'])
 
df.drop("razred", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
df["razred"] = label

In [17]:
label = le.fit_transform(df['profesor'])
 
df.drop("profesor", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
df["profesor"] = label

In [18]:
df.to_excel("data_cleaned.xlsx")